In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
olympics=pd.read_csv('athlete_events.csv')

In [3]:
#Printing column wise missing values
print(olympics.isnull().sum())

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [4]:
olympics['Medal'].fillna('DNW', inplace = True)

C:\Users\admin\AppData\Local\Temp\ipykernel_144\2160398606.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  olympics['Medal'].fillna('DNW', inplace = True)

In [5]:
#reading NOC dataset
noc_country = pd.read_csv('noc_regions.csv')
noc_country.drop('notes', axis = 1 , inplace = True)
noc_country.rename(columns = {'region':'Country'}, inplace = True)

In [6]:
#joining both datasets with NOC as primary key
olympics_merge = olympics.merge(noc_country,
                                left_on = 'NOC',
                                right_on = 'NOC',
                                how = 'left')

In [7]:
# Do we have NOCs that didnt have a matching country in the master?
print(olympics_merge.loc[olympics_merge['Country'].isnull(),['NOC', 'Team']].drop_duplicates())

        NOC                      Team
578     SGP                 Singapore
6267    ROT  Refugee Olympic Athletes
44376   SGP              June Climene
61080   UNK                   Unknown
64674   TUV                    Tuvalu
80986   SGP                   Rika II
108582  SGP               Singapore-2
235895  SGP               Singapore-1

In [8]:
# Replace missing Teams by the values 1. SGP - Singapore
                                    # 2. ROT - Refugee Olympic Athletes
                                    # 3. UNK - Unknown
                                    # 4. TUV - Tuvalu
#olympics_merge.loc[olympics_merge['Country'].isnull(), ['Country']] = olympics_merge['Team']

olympics_merge['Country'] = np.where(olympics_merge['NOC']=='SGP', 'Singapore', olympics_merge['Country'])
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='ROT', 'Refugee Olympic Athletes', olympics_merge['Country'])
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='UNK', 'Unknown', olympics_merge['Country'])
olympics_merge['Country'] = np.where(olympics_merge['NOC']=='TUV', 'Tuvalu', olympics_merge['Country'])

In [9]:
# Drop Team column and rename Country column to team column
olympics_merge.drop('Team', axis = 1, inplace = True)
olympics_merge.rename(columns = {'Country': 'Team'}, inplace = True)

In [10]:
#Checking again for mapping of NOC to team we find that each is mapped to a single value.
print(olympics_merge.loc[olympics_merge['Team'].isnull(),['NOC', 'Team']].drop_duplicates())

Empty DataFrame
Columns: [NOC, Team]
Index: []

In [11]:
#checking Null Values
print(olympics_merge.isnull().sum())

ID            0
Name          0
Sex           0
Age        9474
Height    60171
Weight    62875
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal         0
Team          0
dtype: int64

In [12]:
# Lets take data from 1961 onwards only and for summer olympics only
olympics_complete_subset = olympics_merge.loc[(olympics_merge['Year'] > 1960) & (olympics_merge['Season'] == "Summer"), :]
print(olympics_complete_subset.head())

    ID                Name Sex   Age  Height  Weight  NOC        Games  Year  \
0    1           A Dijiang   M  24.0   180.0    80.0  CHN  1992 Summer  1992
1    2            A Lamusi   M  23.0   170.0    60.0  CHN  2012 Summer  2012
31  12   Jyri Tapani Aalto   M  31.0   172.0    70.0  FIN  2000 Summer  2000
32  13  Minna Maarit Aalto   F  30.0   159.0    55.5  FIN  1996 Summer  1996
33  13  Minna Maarit Aalto   F  34.0   159.0    55.5  FIN  2000 Summer  2000

    Season       City       Sport                         Event Medal     Team
0   Summer  Barcelona  Basketball   Basketball Men's Basketball   DNW    China
1   Summer     London        Judo  Judo Men's Extra-Lightweight   DNW    China
31  Summer     Sydney   Badminton       Badminton Men's Singles   DNW  Finland
32  Summer    Atlanta     Sailing    Sailing Women's Windsurfer   DNW  Finland
33  Summer     Sydney     Sailing    Sailing Women's Windsurfer   DNW  Finland

In [13]:
# We see the row indices are not contigent anymore due to removal of rows. So,Reset row indices
olympics_complete_subset = olympics_complete_subset.reset_index()
print(olympics_complete_subset.head())

   index  ID                Name Sex   Age  Height  Weight  NOC        Games  \
0      0   1           A Dijiang   M  24.0   180.0    80.0  CHN  1992 Summer
1      1   2            A Lamusi   M  23.0   170.0    60.0  CHN  2012 Summer
2     31  12   Jyri Tapani Aalto   M  31.0   172.0    70.0  FIN  2000 Summer
3     32  13  Minna Maarit Aalto   F  30.0   159.0    55.5  FIN  1996 Summer
4     33  13  Minna Maarit Aalto   F  34.0   159.0    55.5  FIN  2000 Summer

   Year  Season       City       Sport                         Event Medal  \
0  1992  Summer  Barcelona  Basketball   Basketball Men's Basketball   DNW
1  2012  Summer     London        Judo  Judo Men's Extra-Lightweight   DNW
2  2000  Summer     Sydney   Badminton       Badminton Men's Singles   DNW
3  1996  Summer    Atlanta     Sailing    Sailing Women's Windsurfer   DNW
4  2000  Summer     Sydney     Sailing    Sailing Women's Windsurfer   DNW

      Team
0    China
1    China
2  Finland
3  Finland
4  Finland

In [14]:
#checking Null Values
print(olympics_complete_subset.isnull().sum())
#Null values reduced considerably by using the method of discarding tuples

index        0
ID           0
Name         0
Sex          0
Age        827
Height    7030
Weight    7294
NOC          0
Games        0
Year         0
Season       0
City         0
Sport        0
Event        0
Medal        0
Team         0
dtype: int64

In [15]:
print(olympics_complete_subset)

         index      ID                          Name Sex   Age  Height  \
0            0       1                     A Dijiang   M  24.0   180.0
1            1       2                      A Lamusi   M  23.0   170.0
2           31      12             Jyri Tapani Aalto   M  31.0   172.0
3           32      13            Minna Maarit Aalto   F  30.0   159.0
4           33      13            Minna Maarit Aalto   F  34.0   159.0
...        ...     ...                           ...  ..   ...     ...
158143  271106  135565      Fernando scar Zylberberg   M  27.0   168.0
158144  271107  135566    James Francis "Jim" Zylker   M  21.0   175.0
158145  271108  135567  Aleksandr Viktorovich Zyuzin   M  24.0   183.0
158146  271109  135567  Aleksandr Viktorovich Zyuzin   M  28.0   183.0
158147  271110  135568        Olga Igorevna Zyuzkova   F  33.0   171.0

        Weight  NOC        Games  Year  Season            City       Sport  \
0         80.0  CHN  1992 Summer  1992  Summer       Barcelona  Basketball
1         60.0  CHN  2012 Summer  2012  Summer          London        Judo
2         70.0  FIN  2000 Summer  2000  Summer          Sydney   Badminton
3         55.5  FIN  1996 Summer  1996  Summer         Atlanta     Sailing
4         55.5  FIN  2000 Summer  2000  Summer          Sydney     Sailing
...        ...  ...          ...   ...     ...             ...         ...
158143    76.0  ARG  2004 Summer  2004  Summer          Athina      Hockey
158144    75.0  USA  1972 Summer  1972  Summer          Munich    Football
158145    72.0  RUS  2000 Summer  2000  Summer          Sydney      Rowing
158146    72.0  RUS  2004 Summer  2004  Summer          Athina      Rowing
158147    69.0  BLR  2016 Summer  2016  Summer  Rio de Janeiro  Basketball

                                         Event Medal       Team
0                  Basketball Men's Basketball   DNW      China
1                 Judo Men's Extra-Lightweight   DNW      China
2                      Badminton Men's Singles   DNW    Finland
3                   Sailing Women's Windsurfer   DNW    Finland
4                   Sailing Women's Windsurfer   DNW    Finland
...                                        ...   ...        ...
158143                     Hockey Men's Hockey   DNW  Argentina
158144                 Football Men's Football   DNW        USA
158145  Rowing Men's Lightweight Coxless Fours   DNW     Russia
158146  Rowing Men's Lightweight Coxless Fours   DNW     Russia
158147           Basketball Women's Basketball   DNW    Belarus

[158148 rows x 16 columns]

In [16]:
#Extracting unique events in a new list
listunique=olympics_complete_subset.Event.unique()
print(listunique)
print(len(listunique))

["Basketball Men's Basketball" "Judo Men's Extra-Lightweight"
 "Badminton Men's Singles" "Sailing Women's Windsurfer"
 "Athletics Men's Shot Put" "Handball Women's Handball"
 "Weightlifting Women's Super-Heavyweight"
 "Wrestling Men's Light-Heavyweight, Greco-Roman"
 "Water Polo Men's Water Polo" 'Sailing Mixed Three Person Keelboat'
 "Hockey Women's Hockey" "Rowing Men's Lightweight Double Sculls"
 "Sailing Men's Two Person Dinghy" "Athletics Men's 1,500 metres"
 "Swimming Men's 100 metres Butterfly"
 "Swimming Men's 200 metres Butterfly"
 "Swimming Men's 4 x 100 metres Medley Relay" "Football Women's Football"
 'Equestrianism Mixed Jumping, Individual'
 "Boxing Men's Light-Welterweight" "Athletics Women's Javelin Throw"
 "Wrestling Men's Heavyweight, Freestyle"
 "Gymnastics Men's Individual All-Around"
 "Gymnastics Men's Floor Exercise" "Gymnastics Men's Parallel Bars"
 "Gymnastics Men's Horizontal Bar" "Gymnastics Men's Rings"
 "Gymnastics Men's Pommelled Horse" "Athletics Men's Pole Vault"
 "Taekwondo Men's Flyweight" "Athletics Men's 5,000 metres"
 "Rowing Men's Coxless Pairs" "Fencing Men's epee, Individual"
 "Judo Men's Half-Middleweight" "Taekwondo Women's Flyweight"
 "Boxing Men's Flyweight" "Basketball Women's Basketball"
 "Diving Men's Platform" "Canoeing Men's Canadian Doubles, 500 metres"
 "Canoeing Men's Canadian Doubles, 1,000 metres"
 "Canoeing Men's Kayak Fours, 1,000 metres" "Handball Men's Handball"
 "Rowing Women's Coxless Pairs" "Football Men's Football"
 "Boxing Men's Middleweight" "Judo Men's Lightweight"
 "Tennis Men's Doubles" 'Shooting Mixed Skeet'
 "Wrestling Men's Featherweight, Freestyle"
 'Sailing Mixed Two Person Heavyweight Dinghy'
 "Athletics Women's Shot Put" "Rowing Men's Coxed Eights"
 "Cycling Women's Sprint" "Cycling Women's 500 metres Time Trial"
 "Athletics Men's 110 metres Hurdles" 'Shooting Mixed Trap'
 "Athletics Women's Marathon" "Athletics Men's 100 metres"
 "Athletics Men's High Jump" "Fencing Men's Foil, Individual"
 "Fencing Men's Foil, Team" "Fencing Men's Sabre, Team"
 "Boxing Men's Lightweight" "Boxing Men's Welterweight"
 "Rowing Men's Quadruple Sculls" "Rowing Men's Double Sculls"
 "Rowing Men's Coxed Pairs" "Athletics Men's 400 metres Hurdles"
 "Athletics Men's 4 x 100 metres Relay" "Athletics Men's 400 metres"
 "Athletics Men's Hammer Throw" "Weightlifting Men's Lightweight"
 "Athletics Men's Long Jump" "Weightlifting Men's Featherweight"
 "Athletics Men's 800 metres" "Cycling Men's Road Race, Individual"
 "Swimming Men's 100 metres Freestyle" "Weightlifting Men's Middleweight"
 "Hockey Men's Hockey" "Rowing Women's Single Sculls"
 "Swimming Men's 50 metres Freestyle"
 "Weightlifting Women's Featherweight" "Water Polo Women's Water Polo"
 "Weightlifting Men's Heavyweight"
 'Equestrianism Mixed Three-Day Event, Individual'
 'Equestrianism Mixed Three-Day Event, Team'
 "Sailing Women's Three Person Keelboat"
 "Cycling Women's Road Race, Individual" "Softball Women's Softball"
 "Archery Women's Individual" "Wrestling Men's Heavyweight, Greco-Roman"
 "Volleyball Men's Volleyball" "Taekwondo Women's Heavyweight"
 "Synchronized Swimming Women's Duet" "Synchronized Swimming Women's Team"
 "Taekwondo Women's Featherweight" "Athletics Men's Marathon"
 "Athletics Men's 4 x 400 metres Relay" "Athletics Women's 3,000 metres"
 "Diving Women's Platform" "Shooting Men's Air Rifle, 10 metres"
 "Athletics Men's 200 metres" "Weightlifting Men's Flyweight"
 "Boxing Men's Featherweight" "Wrestling Men's Lightweight, Greco-Roman"
 "Wrestling Men's Super-Heavyweight, Greco-Roman"
 "Shooting Men's Free Pistol, 50 metres"
 "Shooting Men's Air Pistol, 10 metres" "Fencing Men's epee, Team"
 "Rowing Men's Coxless Fours" "Boxing Men's Light-Flyweight"
 "Boxing Men's Super-Heavyweight" "Shooting Women's Air Rifle, 10 metres"
 "Weightlifting Men's Light-Heavyweight"
 "Weightlifting Men's Middle-Heavyweight" "Athletics Men's Javelin Throw"
 "Gymnastics Men's Horse Vault" "Volleyball Women's Volleyball"
 "Wrestling Men's Welterweight, Greco-Roman"
 "Wrestling Men's Middleweight, Greco-Roman"
 "Athletics Men's 10,000 metres"
 "Athletics Men's 3,000 metres Steeplechase"
 "Wrestling Men's Middleweight, Freestyle"
 "Swimming Women's 100 metres Backstroke"
 "Swimming Women's 200 metres Backstroke"
 "Swimming Women's 4 x 100 metres Medley Relay"
 "Wrestling Men's Light-Heavyweight, Freestyle"
 "Modern Pentathlon Men's Individual" "Modern Pentathlon Men's Team"
 "Athletics Women's 200 metres" "Table Tennis Women's Singles"
 "Table Tennis Women's Doubles" "Shooting Men's Skeet"
 "Swimming Women's 50 metres Freestyle"
 "Shooting Men's Small-Bore Rifle, Three Positions, 50 metres"
 "Shooting Men's Rapid-Fire Pistol, 25 metres"
 "Athletics Women's 100 metres" "Wrestling Men's Flyweight, Greco-Roman"
 "Swimming Men's 400 metres Freestyle" "Weightlifting Women's Lightweight"
 "Athletics Women's Long Jump" "Fencing Women's epee, Individual"
 "Swimming Men's 200 metres Freestyle"
 "Swimming Men's 4 x 100 metres Freestyle Relay"
 "Swimming Men's 4 x 200 metres Freestyle Relay"
 "Swimming Men's 100 metres Backstroke"
 "Swimming Men's 200 metres Backstroke"
 "Swimming Men's 200 metres Individual Medley"
 "Swimming Men's 400 metres Individual Medley" "Badminton Women's Singles"
 "Boxing Men's Light-Middleweight" "Tennis Men's Singles"
 "Boxing Men's Heavyweight" "Wrestling Men's Bantamweight, Freestyle"
 "Wrestling Men's Flyweight, Freestyle" "Athletics Women's 5,000 metres"
 "Weightlifting Women's Light-Heavyweight"
 "Weightlifting Women's Heavyweight" "Athletics Men's Discus Throw"
 "Taekwondo Men's Featherweight" "Taekwondo Men's Welterweight"
 "Judo Men's Heavyweight" "Cycling Men's Sprint"
 "Boxing Men's Bantamweight" "Baseball Men's Baseball"
 "Rowing Men's Coxed Fours" "Cycling Men's 100 kilometres Team Time Trial"
 "Fencing Men's Sabre, Individual" "Rhythmic Gymnastics Women's Group"
 "Gymnastics Women's Individual All-Around"
 "Gymnastics Women's Team All-Around" "Gymnastics Women's Floor Exercise"
 "Gymnastics Women's Horse Vault" "Gymnastics Women's Uneven Bars"
 "Gymnastics Women's Balance Beam" "Diving Women's Springboard"
 "Diving Women's Synchronized Springboard"
 "Athletics Women's 10,000 metres" "Judo Women's Half-Middleweight"
 "Athletics Men's Decathlon" "Athletics Women's 4 x 100 metres Relay"
 "Athletics Women's 1,500 metres" "Shooting Women's Air Pistol, 10 metres"
 "Shooting Women's Sporting Pistol, 25 metres"
 "Canoeing Men's Kayak Doubles, 500 metres"
 "Canoeing Men's Kayak Singles, 500 metres"
 "Canoeing Men's Kayak Singles, 1,000 metres"
 "Shooting Men's Running Target, 50 metres"
 "Judo Women's Half-Heavyweight" "Athletics Women's Pole Vault"
 "Rugby Sevens Women's Rugby Sevens" "Table Tennis Men's Team"
 "Gymnastics Men's Team All-Around" "Rowing Women's Coxed Eights"
 "Athletics Women's 4 x 400 metres Relay"
 "Cycling Men's 1,000 metres Time Trial"
 "Cycling Men's Individual Pursuit, 4,000 metres"
 "Wrestling Men's Welterweight, Freestyle"
 "Wrestling Men's Bantamweight, Greco-Roman" "Athletics Men's Triple Jump"
 "Rowing Women's Lightweight Double Sculls" "Athletics Women's 800 metres"
 "Rowing Women's Coxed Quadruple Sculls"
 "Rhythmic Gymnastics Women's Individual"
 "Canoeing Men's Kayak Singles, Slalom" "Archery Men's Individual"
 "Archery Men's Team" "Swimming Women's 4 x 100 metres Freestyle Relay"
 "Athletics Women's 400 metres" "Trampolining Men's Individual"
 "Swimming Men's 200 metres Breaststroke"
 "Beach Volleyball Men's Beach Volleyball"
 "Cycling Women's Mountainbike, Cross-Country"
 "Triathlon Women's Olympic Distance"
 "Wrestling Men's Lightweight, Freestyle"
 "Cycling Men's Mountainbike, Cross-Country"
 "Athletics Women's 400 metres Hurdles" "Diving Men's Springboard"
 "Wrestling Men's Featherweight, Greco-Roman" "Table Tennis Men's Singles"
 "Shooting Men's Small-Bore Rifle, Prone, 50 metres"
 "Judo Men's Open Class" "Rowing Women's Quadruple Sculls"
 "Athletics Women's Pentathlon" "Weightlifting Women's Middleweight"
 "Swimming Men's 1,500 metres Freestyle"
 "Wrestling Women's Light-Heavyweight, Freestyle"
 "Athletics Women's High Jump" "Canoeing Women's Kayak Fours, 500 metres"
 "Cycling Men's Team Pursuit, 4,000 metres"
 "Sailing Men's One Person Dinghy" "Trampolining Women's Individual"
 "Judo Men's Middleweight" "Judo Men's Half-Lightweight"
 "Fencing Women's Foil, Team" "Swimming Women's 200 metres Butterfly"
 "Swimming Women's 400 metres Individual Medley"
 "Athletics Men's 20 kilometres Walk" "Judo Men's Half-Heavyweight"
 "Archery Women's Team" "Athletics Men's 50 kilometres Walk"
 "Rowing Women's Double Sculls" "Boxing Men's Light-Heavyweight"
 "Boxing Women's Flyweight" "Athletics Women's 100 metres Hurdles"
 'Sailing Mixed One Person Dinghy'
 "Wrestling Women's Heavyweight, Freestyle" 'Badminton Mixed Doubles'
 'Sailing Mixed Two Person Keelboat' "Table Tennis Men's Doubles"
 "Wrestling Men's Light-Flyweight, Freestyle"
 "Wrestling Women's Featherweight, Freestyle"
 "Swimming Women's 200 metres Freestyle"
 "Swimming Women's 400 metres Freestyle"
 "Swimming Women's 200 metres Individual Medley"
 "Sailing Men's Windsurfer" "Rugby Sevens Men's Rugby Sevens"
 "Wrestling Women's Lightweight, Freestyle"
 "Modern Pentathlon Women's Individual"
 "Canoeing Men's Canadian Doubles, Slalom" "Judo Women's Half-Lightweight"
 'Shooting Mixed Small-Bore Rifle, Three Positions, 50 metres'
 'Shooting Mixed Small-Bore Rifle, Prone, 50 metres'
 "Swimming Women's 800 metres Freestyle"
 "Sailing Women's Two Person Dinghy" "Athletics Women's Discus Throw"
 "Athletics Women's Heptathlon" "Cycling Men's Points Race"
 "Synchronized Swimming Women's Solo"
 'Equestrianism Mixed Dressage, Individual'
 'Equestrianism Mixed Dressage, Team'
 "Swimming Men's 100 metres Breaststroke"
 'Shooting Mixed Free Pistol, 50 metres'
 "Fencing Women's Foil, Individual" "Sailing Women's Skiff"
 "Triathlon Men's Olympic Distance" "Sailing Women's One Person Dinghy"
 "Beach Volleyball Women's Beach Volleyball"
 "Weightlifting Men's Super-Heavyweight"
 "Rowing Men's Lightweight Coxless Fours"
 "Wrestling Men's Light-Flyweight, Greco-Roman" "Golf Men's Individual"
 "Canoeing Men's Canadian Singles, 1,000 metres"
 'Sailing Mixed 5.5 metres' 'Equestrianism Mixed Jumping, Team'
 "Diving Men's Synchronized Platform"
 "Canoeing Women's Kayak Singles, Slalom"
 "Weightlifting Women's Flyweight"
 "Swimming Women's 100 metres Breaststroke"
 "Swimming Women's 200 metres Breaststroke" "Shooting Men's Trap"
 "Shooting Women's Small-Bore Rifle, Three Positions, 50 metres"
 "Swimming Women's 100 metres Butterfly"
 "Weightlifting Men's Heavyweight I"
 "Athletics Women's 3,000 metres Steeplechase" "Shooting Women's Trap"
 "Badminton Men's Doubles"
 "Swimming Women's 4 x 200 metres Freestyle Relay"
 "Rowing Men's Single Sculls" "Athletics Women's 20 kilometres Walk"
 "Athletics Women's 80 metres Hurdles"
 "Sailing Men's One Person Heavyweight Dinghy" "Cycling Men's Madison"
 "Weightlifting Men's Heavyweight II"
 "Canoeing Women's Kayak Doubles, 500 metres"
 "Cycling Men's Individual Time Trial" "Judo Women's Heavyweight"
 "Wrestling Men's Super-Heavyweight, Freestyle"
 "Fencing Women's Sabre, Team" "Swimming Women's 100 metres Freestyle"
 "Shooting Men's Double Trap" "Weightlifting Men's Bantamweight"
 "Taekwondo Men's Heavyweight" 'Sailing Mixed Windsurfer'
 "Taekwondo Women's Welterweight"
 'Shooting Mixed Free Rifle, Three Positions, 300 metres'
 'Shooting Mixed Rapid-Fire Pistol, 25 metres'
 "Canoeing Men's Canadian Singles, Slalom" 'Sailing Mixed Multihull'
 "Badminton Women's Doubles" "Diving Women's Synchronized Platform"
 "Athletics Women's Triple Jump" "Boxing Women's Lightweight"
 "Cycling Women's BMX" "Canoeing Men's Kayak Doubles, 200 metres"
 "Canoeing Men's Kayak Doubles, 1,000 metres"
 "Canoeing Women's Kayak Singles, 500 metres"
 "Athletics Women's 10 kilometres Walk" "Judo Women's Extra-Lightweight"
 "Diving Men's Synchronized Springboard" 'Sailing Mixed Two Person Dinghy'
 "Shooting Men's Running Target, 10 metres" "Cycling Men's BMX"
 "Judo Women's Middleweight" "Judo Women's Lightweight"
 "Canoeing Women's Kayak Singles, 200 metres" "Tennis Women's Singles"
 "Rowing Women's Coxed Fours"
 "Canoeing Men's Canadian Singles, 500 metres"
 "Fencing Women's epee, Team" 'Sailing Mixed Skiff'
 "Shooting Men's Free Rifle, Three Positions, 300 metres"
 "Swimming Women's 10 kilometres Open Water" "Boxing Women's Middleweight"
 "Sailing Men's Skiff" "Shooting Women's Skeet" "Tennis Women's Doubles"
 "Cycling Women's Team Pursuit" 'Shooting Mixed Running Target, 50 metres'
 "Cycling Women's Individual Time Trial"
 "Fencing Women's Sabre, Individual" "Cycling Men's Omnium"
 "Cycling Women's Individual Pursuit, 3,000 metres"
 "Cycling Women's Points Race" "Sailing Men's Two Person Keelboat"
 "Cycling Men's Keirin" "Cycling Men's Team Sprint" 'Tennis Mixed Doubles'
 "Golf Women's Individual" "Wrestling Women's Flyweight, Freestyle"
 "Swimming Men's 10 kilometres Open Water"
 "Wrestling Women's Middleweight, Freestyle" "Table Tennis Women's Team"
 "Athletics Women's Hammer Throw"
 "Canoeing Men's Kayak Singles, 200 metres"
 "Cycling Men's Tandem Sprint, 2,000 metres"
 "Shooting Women's Double Trap" "Rowing Women's Coxless Fours"
 "Cycling Women's Keirin" "Canoeing Men's Canadian Singles, 200 metres"
 "Cycling Women's Omnium" "Cycling Women's Team Sprint"]
372

In [17]:
tempagemean=[]
tempweightmean=[]
tempheightmean=[]

#looping to the event list and creating new lists for means of age,weight and height for unique events.
for i in listunique:
    temporary=olympics_complete_subset.loc[(olympics_complete_subset['Event'] == i) & (olympics_complete_subset['Age'] !='NaN' ), :]
    tempagemean.append(temporary.Age.mean(axis = 0, skipna = True))
    tempweightmean.append(temporary.Weight.mean(axis=0,skipna = True))
    tempheightmean.append(temporary.Height.mean(axis = 0, skipna = True))

In [18]:
#looping for each event(since there are 372 events)
for i in range(0,372):
    #extracting rows with a particular event into another dataframe
    df1 = olympics_complete_subset[olympics_complete_subset['Event'].str.contains(listunique[i]) ]
    #filling null values for age in the new dataframe to the mean age for that event
    df1.Age.fillna(tempagemean[i],inplace=True)
    # filling null values for weight in the new dataframe to the mean weight for that event
    df1.Weight.fillna(tempweightmean[i], inplace=True)
    # filling null values for height in the new dataframe to the mean height for that event
    df1.Height.fillna(tempheightmean[i], inplace=True)
    #Dropping columns for that particular event in the original dataframe
    olympics_complete_subset.drop(olympics_complete_subset[olympics_complete_subset['Event'].str.contains(listunique[i])].index, inplace = True)
    #concatinating the altered rows in new dataframe to the old dataframe
    olympics_complete_subset = pd.concat([olympics_complete_subset, df1], axis=0)

C:\Users\admin\AppData\Local\Temp\ipykernel_144\653981728.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Age.fillna(tempagemean[i],inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_144\653981728.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.Age.fillna(tempagemean[i],inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_144\653981728.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Weight.fillna(tempweightmean[i], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_144\653981728.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.Weight.fillna(tempweightmean[i], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_144\653981728.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Height.fillna(tempheightmean[i], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_144\653981728.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.Height.fillna(tempheightmean[i], inplace=True)

In [19]:
#Print statements to check for null values
print(olympics_complete_subset.head())
print(olympics_complete_subset.isnull().sum())
print(olympics_complete_subset)

     index   ID                                Name Sex   Age  Height  Weight  \
0        0    1                           A Dijiang   M  24.0   180.0    80.0
135    264  136                    Alessandro Abbio   M  29.0   195.0    85.0
187    346  192  Ahmed El-Sayed Abdel Hamid Mobarak   M  25.0   189.0    85.0
191    359  199                   Amir Abdel Meguid   M  23.0   178.0    67.0
192    360  199                   Amir Abdel Meguid   M  27.0   178.0    67.0

     NOC        Games  Year  Season         City       Sport  \
0    CHN  1992 Summer  1992  Summer    Barcelona  Basketball
135  ITA  2000 Summer  2000  Summer       Sydney  Basketball
187  EGY  1972 Summer  1972  Summer       Munich  Basketball
191  EGY  1984 Summer  1984  Summer  Los Angeles  Basketball
192  EGY  1988 Summer  1988  Summer        Seoul  Basketball

                           Event Medal   Team
0    Basketball Men's Basketball   DNW  China
135  Basketball Men's Basketball   DNW  Italy
187  Basketball Men's Basketball   DNW  Egypt
191  Basketball Men's Basketball   DNW  Egypt
192  Basketball Men's Basketball   DNW  Egypt
index     0
ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
Team      0
dtype: int64
         index      ID                                Name Sex   Age  Height  \
0            0       1                           A Dijiang   M  24.0   180.0
135        264     136                    Alessandro Abbio   M  29.0   195.0
187        346     192  Ahmed El-Sayed Abdel Hamid Mobarak   M  25.0   189.0
191        359     199                   Amir Abdel Meguid   M  23.0   178.0
192        360     199                   Amir Abdel Meguid   M  27.0   178.0
...        ...     ...                                 ...  ..   ...     ...
147814  253711  127043                      Kristina Vogel   F  25.0   160.0
148315  254866  127585       Anastasiya Sergeyevna Voynova   F  23.0   162.0
150488  258804  129570                        Miriam Welte   F  25.0   171.0
150491  258807  129570                        Miriam Welte   F  29.0   171.0
157148  269368  134783                       Zhong Tianshi   F  25.0   168.0

        Weight  NOC        Games  Year  Season            City       Sport  \
0         80.0  CHN  1992 Summer  1992  Summer       Barcelona  Basketball
135       85.0  ITA  2000 Summer  2000  Summer          Sydney  Basketball
187       85.0  EGY  1972 Summer  1972  Summer          Munich  Basketball
191       67.0  EGY  1984 Summer  1984  Summer     Los Angeles  Basketball
192       67.0  EGY  1988 Summer  1988  Summer           Seoul  Basketball
...        ...  ...          ...   ...     ...             ...         ...
147814    66.0  GER  2016 Summer  2016  Summer  Rio de Janeiro     Cycling
148315    62.0  RUS  2016 Summer  2016  Summer  Rio de Janeiro     Cycling
150488    67.0  GER  2012 Summer  2012  Summer          London     Cycling
150491    67.0  GER  2016 Summer  2016  Summer  Rio de Janeiro     Cycling
157148    62.0  CHN  2016 Summer  2016  Summer  Rio de Janeiro     Cycling

                              Event   Medal     Team
0       Basketball Men's Basketball     DNW    China
135     Basketball Men's Basketball     DNW    Italy
187     Basketball Men's Basketball     DNW    Egypt
191     Basketball Men's Basketball     DNW    Egypt
192     Basketball Men's Basketball     DNW    Egypt
...                             ...     ...      ...
147814  Cycling Women's Team Sprint  Bronze  Germany
148315  Cycling Women's Team Sprint  Silver   Russia
150488  Cycling Women's Team Sprint    Gold  Germany
150491  Cycling Women's Team Sprint  Bronze  Germany
157148  Cycling Women's Team Sprint    Gold    China

[158148 rows x 16 columns]

In [20]:
#giving numeric value to gender column 1 for male and 0 for female
olympics_complete_subset['Sex'] = np.where(olympics_complete_subset['Sex']=='M', 1 , 0)

In [21]:
#Creating a column that captures whether or not a medal was won! It would be 1 if Medal column says Gold, Silver or Bronze and 0 otherwise.
#Converting Medal column to numeric form
olympics_complete_subset['Medal_Won'] = np.where(olympics_complete_subset.loc[:,'Medal'] == 'DNW', 0 , olympics_complete_subset['Medal'])
olympics_complete_subset['Medal_Won'] = np.where(olympics_complete_subset.loc[:,'Medal_Won'] == 'Bronze', 1 , olympics_complete_subset['Medal_Won'])
olympics_complete_subset['Medal_Won'] = np.where(olympics_complete_subset.loc[:,'Medal_Won'] == 'Silver', 2 , olympics_complete_subset['Medal_Won'])
olympics_complete_subset['Medal_Won'] = np.where(olympics_complete_subset.loc[:,'Medal_Won'] == 'Gold', 3 , olympics_complete_subset['Medal_Won'])
print(olympics_complete_subset['Medal_Won'].unique())

[0 3 1 2]

In [22]:
#Dropping unnecessary columns from dataFrame
olympics_complete_subset.drop(['index'] , axis=1, inplace=True)
olympics_complete_subset.drop(['Name'] , axis=1, inplace=True)
olympics_complete_subset.drop(['NOC'] , axis=1, inplace=True)
olympics_complete_subset.drop(['Season'] , axis=1, inplace=True)
olympics_complete_subset.drop(['Games'] , axis=1, inplace=True)
olympics_complete_subset.drop(['City'] , axis=1, inplace=True)
olympics_complete_subset.drop(['Year'] , axis=1, inplace=True)
olympics_complete_subset.drop(['Sport'] , axis=1, inplace=True)
olympics_complete_subset.drop(['Medal'] , axis=1, inplace=True)
olympics_complete_subset.drop(['ID'] , axis=1, inplace=True)

In [23]:
# We see the row indices are not contigent anymore due to removal of rows. So,Reset row indices
olympics_complete_subset = olympics_complete_subset.reset_index()

#converting Team and Event to numerical form

In [24]:
#Creating object of preprocessing LabelEncoder
le = preprocessing.LabelEncoder()
#Creating a new column of encoded Team and Encoded Event in numerical form in original dataset
olympics_complete_subset['Team_encode'] = le.fit_transform(olympics_complete_subset['Team'])
olympics_complete_subset['Event_encode'] = le.fit_transform(olympics_complete_subset['Event'])

In [25]:
#storing Team names and corresponding  encoded numerical values into new csv file after sorting them according to Team name
TeamKeys=olympics_complete_subset[['Team', 'Team_encode']].copy()
TeamKeys.drop_duplicates(subset ="Team", inplace = True)
TeamKeys.sort_values("Team", axis = 0, ascending = True, inplace = True, na_position ='last')
TeamKeys.to_csv('keysToTeam.csv')
print(TeamKeys.head())

                 Team  Team_encode
24011     Afghanistan            0
3106          Albania            1
2272          Algeria            2
3154   American Samoa            3
2351          Andorra            4

In [26]:
#storing Event names and corresponding  encoded numerical values into new csv file after sorting them according to Event name
EventKeys=olympics_complete_subset[['Event' , 'Event_encode']].copy()
EventKeys.drop_duplicates(subset ="Event", inplace = True)
EventKeys.sort_values("Event", axis = 0, ascending = True, inplace = True, na_position ='last')
EventKeys.to_csv('keysToEvent.csv')
print(EventKeys.head())

                               Event  Event_encode
117345      Archery Men's Individual             0
118080            Archery Men's Team             1
62659     Archery Women's Individual             2
130135          Archery Women's Team             3
10085   Athletics Men's 1,500 metres             4

In [27]:
#Creating a new dataframe to store keys to Sex and store it in new csv file
SexKeys = pd.DataFrame( {'Sex': ['Male','Female'], 'Sex_encode': [1,0] }, index =[1,2] )
SexKeys.to_csv('keysToSex.csv')
print(SexKeys)

      Sex  Sex_encode
1    Male           1
2  Female           0

In [28]:
'''after mapping the key value pairs, dropping the team and Event columns from final dataset and changing
names of Team_encode to Team and Event_encode to Event in the original dataframe'''
olympics_complete_subset.drop(['Team'] , axis=1, inplace=True)
olympics_complete_subset.drop(['Event'] , axis=1, inplace=True)
olympics_complete_subset.rename(columns = {'Team_encode': 'Team'}, inplace = True)
olympics_complete_subset.rename(columns = {'Event_encode': 'Event'}, inplace = True)

In [29]:
olympics_complete_subset.drop(['index'] , axis=1, inplace=True)
#Converting the final dataset into a new csv file
olympics_complete_subset.to_csv('olympics_final_final.csv');
print(olympics_complete_subset.head())

   Sex   Age  Height  Weight Medal_Won  Team  Event
0    1  24.0   180.0    80.0         0    39     61
1    1  29.0   195.0    85.0         0    87     61
2    1  25.0   189.0    85.0         0    55     61
3    1  23.0   178.0    67.0         0    55     61
4    1  27.0   178.0    67.0         0    55     61